<div class="text credit general-margin">
    Credits:
    {% assign isMember = 'no' %}
    {% for member in page.team %}
    {% assign isMember = 'yes' %}
    {% if member.website != null %}
    <a alt="{{ member.website }}" href="{{ member.website }}" target="_blank">{{ member.name }}</a> ({{ member.role }})
    {% else %}
    {{ member.name }} ({{ member.role }})
    {% endif %}
    {% if forloop.last == true %}and me.{% else %}, {% endif %}
    {% endfor %}
    {% if isMember == 'no' %} Solo. {% endif %}
</div>