{% if page.tags == "FromHome" or page.tags == "Home" %}
    {% if page.tags == "Home" %}
        <header class="header-home {% if site.animation %}animated-open{% endif %}">
            <a class="link" href="{{ site.url }}/resume">
                <img class="selfie" alt="{{ site.name }}" src="{{ site.picture }}" />
            </a>
    {% else %}
        <header class="header-home {% if site.animation %}animated-close{% endif %}">
            <span class="link" href="{{ site.url }}/resume">
                <img class="selfie" alt="{{ site.name }}" src="{{ site.url }}/{{ site.empty }}"/>
            </span>
    {% endif %}
{% else %}
    <header class="header-home {% if site.animation %}animated-none{% endif %}">
{% endif %}

    <h1 class="title">{{ site.name }}</h1>
    <h2 class="description">{{ site.bio }}</h2>

    {% include social-links.html %}
</header>

{% if page.description != null %}
    <h2 class="description">{{ page.description }}</h2>
{% endif %}

{% include nav.html %}

