{% if page.tags == "FromHome" or page.tags == "Home" %}
    {% if page.tags == "FromHome" %}
        <header class="header-home {% if site.animation %}animated-close{% endif %}">
    {% else %}
        <header class="header-home {% if site.animation %}animated-open{% endif %}">
    {% endif %}
{% else %}
    <header class="header-home {% if site.animation %}animated-none{% endif %}">
{% endif %}

    {% if page.tags == "Home" %}
        <a class="link" href="{{ site.url }}/about">
            <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
        </a>
    {% else %}
        <span class="link" href="{{ site.url }}/about">
            <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/assets/images/profile_empty.png{% endif %}"/>
        </span>
    {% endif %}

    <h1 class="title">{{ site.name }}</h1>
    <h2 class="description">{{ site.bio }}</h2>

    {% include social-links.html %}
</header>

{% include nav.html %}

