<nav class="nav">
{% include hr-custom.html %}
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">

                    {% if page.category == "project" %}
                        {% if page.next.url %}
                                <a class="project" href="{{page.next.url}}">&larr;</a>
                        {% else %}
                            {% for post in site.categories['project'] %}
                                {% if forloop.last == true %}
                                    <a class="project" href="{{ post.url }}">&larr;</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <a class="project" href="{{ site.url }}/projects{% if page.title == "Home" %}_{% endif %}">Projects</a>

                    {% if page.category == "project" %}
                        {% if page.previous.url %}
                                <a class="project" href="{{page.previous.url}}">&rarr;</a>
                        {% else %}
                            {% for post in site.categories['project'] limit:1 %}
                                <a class="project" href="{{ post.url }}">&rarr;</a>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                </li>
            {% endif %}
        {% endif %}


        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about{% if page.title == "Home" %}_{% endif %}">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
{% include hr-custom.html %}
</nav>
