<div class="list">
{% for post in site.posts %}
    {% if post.projects %}
        <div class="elem">
            <a class="link" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                <img alt="{{ post.title }}" src="{{ post.image }}"/>
                <h3 class="title" style="color: {{ post.iframecolor }};">{{ post.title }}</h3>
                <h4><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></h4>
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>
