<div class="list">
{% for post in site.posts %}
    {% if post.projects %}
        <div class="elem">
            <a class="link" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                <div class="text">
                    <h3 style="color: {{ post.iframecolor }};">{{ post.title }}</h3>
                    <h4><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></h4>
                    <img alt="{{ post.title }}" src="{{ post.image2 }}"/>
                </div>
                <img class="bg" style="background-color: {{ post.bgcolor }};" alt="{{ post.title }}" src="{{ site.url }}/{{ site.empty }}"/>
                <img class="img" alt="{{ post.title }}" src="{{ post.image }}"/>
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>
