<div class="resume">
    <div class="intro-title">
        <div class="infos">
            <img class="title-img" alt="{{ site.name }}" src="{{ site.url }}/{{ site.picture }}" />
            <h1>François Corbel</h1>
            <h4 class="hidden">www.francoiscorbel.com</h4>
            <h4 class="hidden">francois.corbel@gmail.com</h4>
        </div>
        {% include hr-custom.html %}
        <h2>Video Game Developer</h2>
        <div class="right"> {% include social-links.html %}</div>
        {% include hr-custom.html %}
        <p> Experienced Unity Developer specializing in creating immersive and interactive experiences across mobile, WebGL, VR, and AR platforms, including notable projects such as Hole City Conquest and Kia’s interactive WebGL showcase. Proficient in C#, Unity ECS, procedural generation, and optimization techniques, committed to clean, scalable code and exceptional user experiences. Adept at collaborating within diverse, international teams to deliver polished, high-quality projects. </p>
    </div>

    
    <div class="experience">
        {% include hr-custom.html %}
        <h1>Work experience</h1>
        {% include hr-custom.html %}

        <div class="elem">
            <a alt="none" href="{{site.url}}/" target="_blank">
                <h2 class="title">Freelance Unity Developer</h2>
                <h2 class="date">January 2013 - Present</h2>
                <h3>Self Employed, Paris/Gurgaon</h3>

                <p>
                <ul>
                    <li>Delivered high-quality mobile games, VR experiences, interactive apps, and prototypes for international clients.</li>
                    <li>Implemented advanced Unity techniques (ECS, Shader Graph, Addressables) for scalable, efficient architectures.</li>
                    <li>Managed end-to-end development from prototypes to polished releases, providing clarity, structure, and forward momentum.</li>
                </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="none" href="{{site.url}}/" target="_blank">
                <h2 class="title">Founder & Indie Game Developer</h2>
                <h2 class="date">January 2013 - Present</h2>
                <h3>Oisif Games, Paris/Gurgaon</h3>

                <p>
                <ul>
                    <li>Designed and developed Hole City Conquest, leveraging procedural generation and mobile optimization to enhance player engagement.</li>
                    <li>Improved user experience with detailed UI/UX design, rigorous performance tuning, and iterative feedback loops.</li>
                    <li>Soon to be release</li>
                </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="6Freedom" href="{{site.url}}/kia" target="_blank">
                <h2 class="title">Unity WebGL Developer</h2>
                <h2 class="date">September 2024 - November 2024</h2>
                <h3>6Freedom - KIA - Freelance, Remote</h3>

                <p>
                    <ul>
                        <li>Built and optimized Kia's interactive electric mobility showcase with high-performance WebGL and responsive interactions.</li>
                        <li>Integrated high-quality 3D assets to deliver seamless browser-based user experiences.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="Hermes" href="{{site.url}}/hermes/" target="_blank">
                <h2 class="title">Unity Mixed Reality Developer</h2>
                <h2 class="date">January 2024 - February 2024</h2>
                <h3>Atelier Daruma - Hermès - Freelance, Paris</h3>

                <p>
                <ul>
                    <li>Enhanced gameplay mechanics and user interactions for Hermès’ mixed reality experience, aligning with luxury brand aesthetics.</li>
                    <li>Significantly contributed to successful event engagement through refined gameplay experiences.</li>
                </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="voodoo" href="{{site.url}}/none" target="_blank">
                <h2 class="title">Unity Marketing Developer</h2>
                <h2 class="date">November 2023 - February 2024</h2>
                <h3>Voodoo, Paris</h3>

                <p>
                <ul>
                    <li>Created effective marketing creatives for hyper-casual games, positively impacting user acquisition and retention.</li>
                </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="spoon" href="{{site.url}}/spoon/" target="_blank">
                <h2 class="title">Unity Game Developer</h2>
                <h2 class="date">March 2022 - March 2023</h2>
                <h3>Spoon.ai - Renault - Freelance, Paris</h3>

                <p>
                    <ul>
                        <li>Contributed to the development of virtual avatars, including complex animation systems and API integration for major brands such as Renault.</li>
                        <li>Enhanced customer engagement through emotionally compelling virtual experiences.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="ayahuacsa" href="{{site.url}}/biblioquete/" target="_blank">
                <h2 class="title">Unity Game Developer</h2>
                <h2 class="date">January 2018 - Present</h2>
                <h3>Small Creative, Paris</h3>

                <p>
                    <ul>
                        <li>Collaborated with a talented team on innovative projects, such as immersive VR experiences and interactive narrative games.</li>
                        <li>Developed gameplay mechanics and designed tools for development efficiency, contributing to the creation of engaging gaming experiences.</li>
                        <li>Worked closely with clients to understand project requirements and ensure successful project delivery.</li>
                        <li>Utilized Unity and other development tools to bring projects to life while fostering a collaborative work environment.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="Resilience" href="{{site.url}}/resilience/" target="_blank">
                <h2 class="title">Unity Game Developer</h2>
                <h2 class="date">June 2018 - December 2018</h2>
                <h3>Sweet Arsenic, Paris</h3>

                <p>
                    <ul>
                        <li>Contributed to the development of Resilience, a reverse RTS game, focusing on feature implementation and bug fixes.</li>
                        <li>Worked collaboratively in a remote team to meet project milestones and deliverables.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="Bobsledding" href="{{site.url}}/bobsledding/" target="_blank">
                <h2 class="title">Unity Game Developer</h2>
                <h2 class="date">January 2017 - February 2017</h2>
                <h3>Cshool (クスール), Tokyo</h3>

                <p>
                    <ul>
                        <li>Coordinated with a small team to develop Bobsledding, a multiplayer bobsled game showcased at dotfest event in Tokyo.</li>
                        <li>Implemented game mechanics, UI elements, and character animations to enhance gameplay experience.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="An Octonaut Odyssey" href="{{site.url}}/an-octonaut-odyssey/">
                <h2 class="title">C++ Game Developer</h2>
                <h2 class="date">January 2015 - June 2017</h2>
                <h3>Octo Studio, Saint Gratien</h3>
 
                <p>
                    <ul>
                        <li>Led the development of "An Octonaut Odyssey," a 2D platformer, from concept to release, overseeing all aspects of game development.</li>
                        <li>Implemented intricate gameplay mechanics, including generative environments and menu systems, to create a captivating gaming experience.</li>
                        <li>Managed publishing and marketing efforts, ensuring successful distribution of the game on platforms like Steam.</li>
                        <li>Collaborated closely with a small, agile team to deliver polished and engaging gaming experiences while optimizing workflows for efficiency.</li>
                        <li>Delivered immersive multiplayer VR/AR experiences and interactive narratives.</li>
                    </ul>
                </p>
            </ul>
        </div>

        <div class="elem">
            <h2 class="title">Python Developer</h2>
            <h2 class="date">3 months, 2015</h2>
            <h3>AXA Assistance, Paris</h3>
        </div>

        <div class="elem">
            <h2 class="title">Telemarketer</h2>
            <h2 class="date">12 months, 2012-2013</h2>
            <h3>Wisecom, Paris</h3>
        </div>

        {% include hr-custom.html %}
        <h1>Technical Skills</h1>
        {% assign skills = "C|C++|C#|SFML|Unity|Unreal-Engine|Vim|Git" | split: "|" %}
        {% include hr-custom.html %}
        {% for skill in skills %}
        <div class="icon" data-title="{{ skill }}">
            <svg class="icon-svg">
                <use xlink:href="#icon-{{ skill }}"></use>
            </svg>
        </div>
        {% endfor %}
        <p>
        <ul>
            <li><b>Languages</b>: C#, C++, Python, HLSL</li>
            <li><b>Unity Features:</b> ECS (DOTS), Editor Tools, Shader Graph, Addressables, Timeline, Cinemachine, Animator</li>
            <li><b>Platforms</b>: iOS, Android, WebGL, Oculus Quest, ARKit, ARCore</li>
            <li><b>Tools & Technologies:</b> Git, Jira, Blender, Photoshop, Visual Studio, Rider</li>
            <li><b>Additional Skills:</b> Procedural Generation, UI/UX Design, Game Design, Performance Optimization</li>
        </ul>
        </p>

        {% include hr-custom.html %}
        <h1>Professional Attributes</h1>
        {% include hr-custom.html %}
        <p>
        <ul>
            <li>Excellent collaboration and communication skills</li>
            <li>Proactive and resourceful problem-solving abilities</li>
            <li>Meticulous attention to detail</li>
            <li>Passionate about continuous improvement and innovation</li>
        </ul>
        </p>
    </div>

    <div class="education">
        {% include hr-custom.html %}
        <h1>Education</h1>
        {% include hr-custom.html %}

        <div class="elem">
            <a alt="en.wikipedia.org/wiki/42_(school)" href="https://en.wikipedia.org/wiki/42_(school)" target="_blank">
                <h2 class="title">Computer science</h2>
                <h2 class="date">2013-2017</h2>
                <h3>42 School, Paris</h3>
                <p>École 42 is a French innovative school of programming. The process of learning is project based
                    and highly professionalizing. More than learning programming, I learned to learn.</p>
            </a>
            <p>Some links to learn more about 42:
                <a alt="http://www.wired.co.uk/article/paris-tech-school-ecole-42"
                    href="http://www.wired.co.uk/article/paris-tech-school-ecole-42" target="_blank">Wired</a>,
                <a alt="http://www.businessinsider.com/42-launches-in-the-us-2016-5"
                    href="http://www.businessinsider.com/42-launches-in-the-us-2016-5" target="_blank">Buisness
                    Insider</a>,
                <a alt="https://www.codingame.com/blog/which-students-are-really-the-best-developers-in-the-world/"
                    href="https://www.codingame.com/blog/which-students-are-really-the-best-developers-in-the-world/"
                    target="_blank">Coding Games</a>,
                <a alt="en.wikipedia.org/wiki/42_(school)" href="https://en.wikipedia.org/wiki/42_(school)"
                    target="_blank">Wikipedia</a>.
            </p>
        </div>
        <div class="elem">
            <h2 class="title">Higher National Diploma of Communication</h2>
            <h2 class="date">2010-2012</h2>
            <h3>Jeanne d'Arc, Rennes</h3>
        </div>
        <div class="elem">
            <h2 class="title">English University</h2>
            <h2 class="date">2009-2010</h2>
            <h3>Villejean Université, Rennes</h3>
        </div>
        <div class="elem">
            <h2 class="title">Science Baccalauréat specialized in Engineering</h2>
            <h2 class="date">2008</h2>
        </div>
    </div>

    <div class="more">
        {% include hr-custom.html %}
        <h1>More</h1>
        {% include hr-custom.html %}
        <p>I read a lot of about neuro-sciences and psychology.</p>
        <p>I really like these games: Minecraft, Inside, World of Warcraft, League of Legends, Dofus, Age of Empire,
            Grand Theft Auto, Hotline Miami, No Man's Sky, Starbound, GoNNER, What Remains of Edith Finch, Sable, Fez, Downwell,
            Towerfall, Leekwars.</p>
        <p>I traveled through Europe but also in Thailand, India, and Japan.</p>
        <p>I'm currently living in Gurugram, India.</p>
        <p></p>
        <div class="elem">
        </div>
    </div>
</div>
