<div class="resume">
    <div class="intro-title">
        <div class="infos">
            <img class="title-img" alt="{{ site.name }}" src="{{ site.url }}/{{ site.picture }}" />
            <h1>François Corbel</h1>
            <h4 class="hidden">www.francoiscorbel.com</h4>
            <h4 class="hidden">francois.corbel@gmail.com</h4>
        </div>
        {% include hr-custom.html %}
        <h2>Video Game Developer</h2>
        <div class="right"> {% include social-links.html %}</div>
        {% include hr-custom.html %}
        <p> After two years working on <a alt="anoctonautodyssey.com" href="https://anoctonautodyssey.com"
                target="_blank">An Octonaut Odyssey</a>,
            I know that I only want to do one thing: games.
            Passionate and detail-oriented Game Developer with expertise in C++ and Unity, dedicated to creating immersive gaming experiences. Proven track record in project management, development, design, and optimization. Seeking opportunities to contribute to innovative game development projects.
        </p>
    </div>

    
    <div class="experience">
        {% include hr-custom.html %}
        <h1>Work experience</h1>
        {% include hr-custom.html %}

        <div class="elem">
            <a alt="voodoo" href="{{site.url}}/none" target="_blank">
                <h2 class="title">Marketing Developer, Unity</h2>
                <h2 class="date">November 2023 - February 2024</h2>
                <h3>Voodoo, Paris</h3>

                <p>
                    <ul>
                        <li>Developed marketing strategies for hyper-casual games, contributing to user acquisition and retention.</li>
                        <li>Collaborated with cross-functional teams to optimize game performance and enhance player experience.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="spoon" href="{{site.url}}/none" target="_blank">
                <h2 class="title">Freelance Game Developer, Unity</h2>
                <h2 class="date">March 2022 - March 2023</h2>
                <h3>Spoon.ai, Paris</h3>

                <p>
                    <ul>
                        <li>Led development of virtual avatar for Renault, fostering emotional connections between brands and consumers.</li>
                        <li>Implemented complex animation systems and API integrations to enhance user engagement.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="ayahuacsa" href="{{site.url}}/biblioquete" target="_blank">
                <h2 class="title">Freelance Game Developer, Unity</h2>
                <h2 class="date">January 2018 - June 2023</h2>
                <h3>Small Creative, Paris</h3>

                <p>
                    Small Creative is a forward-thinking studio dedicated to exploring new technologies and creating immersive projects. During my time there, I collaborated with a talented team of developers on a variety of innovative projects:
                </p>
                <p>
                    <ul>
                        <li>Developed immersive VR experiences targeting high-end machines and mobile platforms using Unity3D.</li>
                        <li>Contributed to the creation of interactive narrative experiences, pushing the boundaries of storytelling in gaming.</li>
                        <li>Designed and implemented tools to enhance development efficiency, including scene recording, VR headset management, and package management solutions.</li>
                        <li>Worked closely with clients to understand their vision and requirements, ensuring that project deliverables met their expectations.</li>
                        <li>Actively participated in brainstorming sessions and design discussions, contributing creative ideas and problem-solving expertise to project development.</li>
                        <li>Played a key role in maintaining a positive and collaborative work environment, fostering open communication and teamwork among team members.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="Resilience" href="{{site.url}}/resilience/" target="_blank">
                <h2 class="title">Freelance Game Developer, Unity</h2>
                <h2 class="date">June 2018 - December 2018</h2>
                <h3>Sweet Arsenic, Paris</h3>

                <p>
                    <ul>
                        <li>Contributed to the development of Resilience, a reverse RTS game, focusing on feature implementation and bug fixes.</li>
                        <li>Worked collaboratively in a remote team to meet project milestones and deliverables.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="Bobsledding" href="{{site.url}}/bobsledding/" target="_blank">
                <h2 class="title">Game Developer, Unity</h2>
                <h2 class="date">January 2017 - February 2017</h2>
                <h3>Cshool (クスール), Tokyo</h3>

                <p>
                    <ul>
                        <li>Coordinated with a small team to develop Bobsledding, a multiplayer bobsled game showcased at dotfest event in Tokyo.</li>
                        <li>Implemented game mechanics, UI elements, and character animations to enhance gameplay experience.</li>
                    </ul>
                </p>
            </a>
        </div>

        <div class="elem">
            <a alt="An Octonaut Odyssey" href="{{site.url}}/an-octonaut-odyssey/">
                <h2 class="title">Game Developer, C++</h2>
                <h2 class="date">January 2015 - June 2017</h2>
                <h3>Octo Studio, Saint Gratien</h3>
 
                <p>
                    At Octo Studio, I spearheaded the development of "An Octonaut Odyssey," a 2D side-scrolling platformer built from scratch using a custom C++ engine. Highlights of my role include:
                </p>
                <p>
                    <ul>
                        <li>Leading all aspects of game development, from initial concept to release, encompassing game design, programming, level design, and optimization.</li>
                        <li>Implementing intricate gameplay mechanics and systems, including the generative environment, gameplay logic, and menu system.</li>
                        <li>Managing the game's publishing and marketing efforts, ensuring successful distribution on platforms like Steam.</li>
                        <li>Collaborating closely with a small, agile team to deliver a polished and engaging gaming experience.</li>
                        <li>Utilizing a range of tools and technologies, including C++, SFML, Git, and Trello, to streamline development processes and drive productivity.</li>
                    </ul>
                </p>
                <p>
                    My tenure at Octo Studio honed my skills as a versatile game developer and provided invaluable experience in bringing complex projects to fruition.
                </p>
            </ul>
        </div>

        <div class="elem">
            <h2 class="title">Python Developer</h2>
            <h2 class="date">3 months, 2015</h2>
            <h3>AXA Assistance, Paris</h3>
        </div>

        <div class="elem">
            <h2 class="title">Telemarketer</h2>
            <h2 class="date">12 months, 2012-2013</h2>
            <h3>Wisecom, Paris</h3>
            <p>I learned how to improve my communication skills with customers.</p>
        </div>

        {% include hr-custom.html %}
        <h1>Current Skills</h1>
        {% assign skills = "C|C++|C#|SFML|Unity|Unreal-Engine|Vim|Git" | split: "|" %}
        {% include hr-custom.html %}
        {% for skill in skills %}
        <div class="icon" data-title="{{ skill }}">
            <svg class="icon-svg">
                <use xlink:href="#icon-{{ skill }}"></use>
            </svg>
        </div>
        {% endfor %}
    </div>

    <div class="education">
        {% include hr-custom.html %}
        <h1>Education</h1>
        {% include hr-custom.html %}

        <div class="elem">
            <a alt="en.wikipedia.org/wiki/42_(school)" href="https://en.wikipedia.org/wiki/42_(school)" target="_blank">
                <h2 class="title">Computer science</h2>
                <h2 class="date">2013-2017</h2>
                <h3>42 School, Paris</h3>
                <p>École 42 is a French innovative school of programming. The process of learning is project based
                    and highly professionalizing. More than learning programming, I learned to learn.</p>
            </a>
            <p>Some links to learn more about 42:
                <a alt="http://www.wired.co.uk/article/paris-tech-school-ecole-42"
                    href="http://www.wired.co.uk/article/paris-tech-school-ecole-42" target="_blank">Wired</a>,
                <a alt="http://www.businessinsider.com/42-launches-in-the-us-2016-5"
                    href="http://www.businessinsider.com/42-launches-in-the-us-2016-5" target="_blank">Buisness
                    Insider</a>,
                <a alt="https://www.codingame.com/blog/which-students-are-really-the-best-developers-in-the-world/"
                    href="https://www.codingame.com/blog/which-students-are-really-the-best-developers-in-the-world/"
                    target="_blank">Coding Games</a>,
                <a alt="en.wikipedia.org/wiki/42_(school)" href="https://en.wikipedia.org/wiki/42_(school)"
                    target="_blank">Wikipedia</a>.
            </p>
        </div>
        <div class="elem">
            <h2 class="title">Higher National Diploma of Communication</h2>
            <h2 class="date">2010-2012</h2>
            <h3>Jeanne d'Arc, Rennes</h3>
        </div>
        <div class="elem">
            <h2 class="title">English University</h2>
            <h2 class="date">2009-2010</h2>
            <h3>Villejean Université, Rennes</h3>
        </div>
        <div class="elem">
            <h2 class="title">Science Baccalauréat specialized in Engineering</h2>
            <h2 class="date">2008</h2>
        </div>
    </div>

    <div class="more">
        {% include hr-custom.html %}
        <h1>More</h1>
        {% include hr-custom.html %}
        <p>I read a lot of about neuro-sciences and psychology.</p>
        <p>I really like these games: Minecraft, Inside, World of Warcraft, League of Legends, Dofus, Age of Empire,
            Grand Theft Auto, Hotline Miami, No Man's Sky, Starbound, GoNNER, The Floor Is Jelly, Fez, Downwell,
            Towerfall, Leekwars.</p>
        <p>I traveled through Europe but also in Thailand, India, and Japan.</p>
        <p>I'm currently living in Paris, France.</p>
        <p></p>
        <div class="elem">
        </div>
    </div>
</div>