<div class="resume">
    <div class="intro-title">
        <div class="infos">
            <img class="title-img" alt="{{ site.name }}" src="{{ site.url }}/{{ site.picture }}"/>
            <h1>François Corbel</h1>
        </div>
        {% include hr-custom.html %}
        <h2>Video Game Developer</h2>
        <div class="right"> {% include social-links.html %}</div>
        {% include hr-custom.html %}
        <p> After two years working on <a alt="anoctonautodyssey.com" href="https://anoctonautodyssey.com" target="_blank">An Octonaut Odyssey</a>
        , I know that I only want to do one thing: games. I'm proficient in C++ and Unity, details oriented and good communication practitioner thanks 
        to my background.</p>
        <p>I came to Japan with a strong motivation to find a new work in the game industry.</p>
    </div>

    <div class="experience">
        {% include hr-custom.html %}
        <h1>Game Project</h1>
        {% include hr-custom.html %}

        <div class="elem">
            <a alt="An Octonaut Odyssey" href="{{site.url}}/an-octonaut-odyssey/">
            <h2 class="title">An Octonaut Odyssey</h2>
            <h2 class="date">18 months, 2015-2017</h2>
            <h3>Windows/MacOS</h3>
            <p>A 2D side-scrolling platformer built on a custom C++ engine. Building a game engine from scratch was the opportunity for 
            me to develop a full understanding of video game programing, from A to Z.
            <p>Started with a team of 5 peoples, I spent a year finishing it on my own.</p>
            </a>
            <p class="ul-title"><strong>Tools</strong></p>
            <ul><li>C++, <a alt="sfml-dev.org" href="https://www.sfml-dev.org/">SFML</a>, Vim, Git, Makefile, Trello</li></ul>
            <br>
            <p class="ul-title"><strong>Roles</strong></p>
            <ul>
            <li>Developement</li>
            <li><ul>
                <li>Gameplay</li>
                <li>Generative environment</li>
                <li>Menu system</li>
                <li>Optimization</li>
            </ul></li>
            <li>Team Producing</li>
            <li>Game Design</li>
            <li>Level Design</li>
            <li>Publishing and Marketing</li>
            </ul>
        </div>

        {% include hr-custom.html %}
        <h1>Work experience</h1>
        {% include hr-custom.html %}

        <div class="elem">
            <h2 class="title">Developer Python</h2>
            <h2 class="date">3 months, 2015</h2>
            <h3>AXA Assistance</h3>
            <p>How could robots help dependant individuals to live at home? I had to answer that question 
            with a team of 5 people for a worldwide insurance group.</p>
            <ul>
                <li>Python developement on the robot <a alt="softbankrobotics.com/nao" href="https://www.ald.softbankrobotics.com/en/robots/nao">NAO</a> of SoftBank Robotics</li>
                <li>Technical recommandations</li>
            </ul>
        </div>

        <div class="elem">
            <h2 class="title">Developer Web</h2>
            <h2 class="date">6 months, 2014</h2>
            <h3>Padawan Group</h3>
            <p></p>
            <ul>
                <li>Development of a tool to migrate a MySQL database to an elasticsearch solution with PHP</li>
                <li>Development of a bash script to deploy several website with Git</li>
                <li>Ticket managing in collaboration with an Indian company</li>
            </ul>
        </div>

        <div class="elem">
            <h2 class="title">Telemarketer</h2>
            <h2 class="date">1 year, 2012-2013</h2>
            <h3>Wisecom</h3>
            <p>I learnt how to improve my communication skills with customers.</p>

            <ul>
                <li>Customer support for an energy company</li>
                <li>Web tools improvement</li>
                <li>Community management for a French bank</li>
            </ul>
        </div>

        {% include hr-custom.html %}
        <h1>Current Skills</h1>
        {% assign skills = "C|C++|C#|SFML|Unity|Unreal-Engine|Vim|Git" | split: "|" %}
        {% include hr-custom.html %}
        {% for skill in skills %}
            <div class="icon" data-title="{{ skill }}">
                <svg class="icon-svg"><use xlink:href="#icon-{{ skill }}"></use></svg>
            </div>
        {% endfor %}
    </div>

    <div class="education">
        {% include hr-custom.html %}
        <h1>Education</h1>
        {% include hr-custom.html %}

        <div class="elem">
            <a alt="en.wikipedia.org/wiki/42_(school)" href="https://en.wikipedia.org/wiki/42_(school)" target="_blank">
            <h2 class="title">Computer science</h2>
            <h2 class="date">2013-2017</h2>
            <h3>42 School, Paris</h3>
            <p>École 42 is a French innovative school of programming. The process of learning is project based
            and highly professionalizing. More than learning programming, I learnt to learn.</p>
            <ul>
                <li>Specialization in graphics and algorithms</li>
            </ul>
        </a>
            <p>Some links to learn more about 42:
                <a alt="http://www.wired.co.uk/article/paris-tech-school-ecole-42" href="http://www.wired.co.uk/article/paris-tech-school-ecole-42" target="_blank">Wired</a>,
                <a alt="http://www.businessinsider.com/42-launches-in-the-us-2016-5" href="http://www.businessinsider.com/42-launches-in-the-us-2016-5" target="_blank">Buisness Insider</a>,
                <a alt="https://www.codingame.com/blog/which-students-are-really-the-best-developers-in-the-world/" href="https://www.codingame.com/blog/which-students-are-really-the-best-developers-in-the-world/" target="_blank">Coding Games</a>,
                <a alt="en.wikipedia.org/wiki/42_(school)" href="https://en.wikipedia.org/wiki/42_(school)" target="_blank">Wikipedia</a>.
            </p>
        </div>
        <div class="elem">
            <h2 class="title">Higher National Diploma of Communication</h2>
            <h2 class="date">2010-2012</h2>
            <h3>Jeanne d'Arc, Rennes</h3>
        </div>
        <div class="elem">
            <h2 class="title">English University</h2>
            <h2 class="date">2009-2010</h2>
            <h3>Villejean Université, Rennes</h3>
        </div>
        <div class="elem">
            <h2 class="title">Science Baccalauréat, specialized in Engineering</h2>
            <h2 class="date">2008</h2>
        </div>
    </div>

    <div class="more">
            {% include hr-custom.html %}
            <h1>More</h1>
            {% include hr-custom.html %}
            <p>I read a lot of about neuro-sciences and psychology.</p>
            <p>I really like these games : Minecraft, Inside, World of Warcraft, League of Legends, Dofus, Age of Empire, Grand Theft Auto, Hotline Miami, No Man's Sky, Starbound, GoNNER, The Floor Is Jelly, Fez, Downwell, Towerfall, Leekwars.</p>
            <p>I travelled through Europe but also in Thailand, India and Japan.</p>
            <p>I'm currently living in Tokyo, Japan.</p>
            <p></p>
        <div class="elem">
        </div>
    </div>
</div>
