<div class="general-margin">
    <style>
    .mySlides {display:none}
    .w3-content{max-width:980px;margin:auto}.w3-rest{overflow:hidden}
    .w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
    .w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
    .w3-center{text-align:center!important}
    .w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
    .w3-border-0{border:0!important}.w3-border{border:1px solid #ccc!important}
    .w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
    .w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}
    {% if include.varcolor != null%}
    .w3-white,.w3-hover-white:hover{color:#000!important;background-color:{{ include.varcolor }}!important}
    .w3-badge,.w3-tag{background-color:#000;color:{{ include.varcolor }};display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
    {% else %}
    .w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
    .w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
    {% endif %}
    .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
    </style>

    <div class="w3-content w3-display-container" style="max-width:800px">
        {% if include.var1 != null %}
            <img class="mySlides" alt="1" onclick="plusDivs(1)" src="{{ site.url }}/assets/images/{{ include.var1 }}">
        {% endif %}
        {% if include.var2 != null %}
            <img class="mySlides" alt="1" onclick="plusDivs(1)" src="{{ site.url }}/assets/images/{{ include.var2 }}">
        {% endif %}
        {% if include.var3 != null %}
            <img class="mySlides" alt="1" onclick="plusDivs(1)" src="{{ site.url }}/assets/images/{{ include.var3 }}">
        {% endif %}
        {% if include.var4 != null %}
            <img class="mySlides" alt="1" onclick="plusDivs(1)" src="{{ site.url }}/assets/images/{{ include.var4 }}">
        {% endif %}
        {% if include.var5 != null %}
            <img class="mySlides" alt="1" onclick="plusDivs(1)" src="{{ site.url }}/assets/images/{{ include.var5 }}">
        {% endif %}
        {% if include.var6 != null %}
            <img class="mySlides" alt="1" onclick="plusDivs(1)" src="{{ site.url }}/assets/images/{{ include.var6 }}">
        {% endif %}
        <div class="w3-center w3-display-bottommiddle" style="width:100%">
        {% if include.var1 != null %}
            <span class="w3-badge demo w3-border" onclick="currentDiv(1)"></span>
        {% endif %}
        {% if include.var2 != null %}
            <span class="w3-badge demo w3-border" onclick="currentDiv(2)"></span>
        {% endif %}
        {% if include.var3 != null %}
            <span class="w3-badge demo w3-border" onclick="currentDiv(3)"></span>
        {% endif %}
        {% if include.var4 != null %}
            <span class="w3-badge demo w3-border" onclick="currentDiv(4)"></span>
        {% endif %}
        {% if include.var5 != null %}
            <span class="w3-badge demo w3-border" onclick="currentDiv(5)"></span>
        {% endif %}
        {% if include.var6 != null %}
            <span class="w3-badge demo w3-border" onclick="currentDiv(6)"></span>
        {% endif %}
        </div>
    </div>

    <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
</div>
