.home,
.blog,
.projects
    > .list
        position: relative
        text-align: center

        > .elem
            position: relative
            display: inline-block
            text-align: center
            margin: 1rem
            width: 40%
            min-width: 200px
            transition: all .2s
            box-shadow: 0px 0px 0px #888888
            opacity: 1

            > .link
                text-decoration: none
                img
                    width: 100%
                    height: auto
                h3, h4
                    font-weight: 300
                    positioon: absolute
                    margin: auto
                h4
                    color: $gama

            > .link > .text
                position: absolute
                width: 100%
                transition: all .4s ease-in-out
                img
                    margin-top: 0.5rem

            > .link > .bg
                position: absolute
                z-index: -99

            > .link > .img
                transition: all .4s ease-in-out
                opacity: 0
                image-rendering: auto
                image-rendering: crisp-edges
                image-rendering: pixelated

            &:hover
                > .link > .text
                    opacity: 0
                > .link > .img
                    opacity: 1


