.home,
.blog,
.projects
    > .list
        position: relative
        text-align: center

        > .elem
            position: relative
            display: inline-block
            text-align: center
            margin: 1rem
            width: 47%
            min-width: 200px
            max-width: 400px
            @media (max-width : 800px)
                width: 94%
            transition: all .2s
            box-shadow: 0px 0px 0px #888888
            opacity: 1

            > .link
                text-decoration: none
                img
                    width: 100%
                    height: auto
                h3, h4
                    font-weight: 300
                    margin: auto
                h3
                    font-weight: 700
                    font-family: $fontTitle
                    text-overflow: ellipsis
                    white-space: nowrap
                    overflow: hidden
                    margin-top: 1rem
                h4
                    @media (max-width : 400px)
                        font-size: 1.2rem


            > .link > .text
                position: absolute
                width: 100%
                transition: all .4s ease-in-out
                max-height: 80%
                > .icon
                    &:before
                        bottom: -44px
                    &:after
                        top: 45px
                    margin-top: 1rem
                    > .icon-svg
                        height: 100%
                        width: 100%
                        margin: 0

            > .link > .bg
                z-index: -99

            > .link > .text > .img
                display: block
                margin: auto
                margin-top: 2rem
                width: 45%
                height: auto
                opacity: 0
                @media (max-width : 400px)
                    opacity: 1
                transition: all .4s ease-in-out
                image-rendering: auto
                image-rendering: crisp-edges
                image-rendering: pixelated
                img
                    border-radius: 100%

            &:hover
                > .link > .text > .img
                    opacity: 1

