  .hr-custom
      display: flex
      align-items: center
      margin: 0px auto
      margin-bottom: 7px
      width: 100%

      > .hr-line
          flex: 1
          height: 0px
          border-bottom: 1px solid $epsilon

      > .front-rect
          width: 7px
          height: 7px
          border: 1px solid $epsilon
          border-radius: 3px
          margin: 0 6px
