---
layout: page
---
<div class="post animated-open-project">

    <h1 class="title">{{ page.title }}</h1>
    {% if page.company != 'none' %}
    <h4 style="color: {{ post.iframecolor }};">with {{ page.company }}</h4>
    {% endif %}
    <span class="date">
        <time datetime="{{ page.date | date:"%m-%Y" }}">{{ page.date | date: "%B, %Y" }}</time>
        {% if site.read-time %} - {% include read-time.html %}{% endif %}
    </span>

    {% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
        <a class="icon" data-title="{{ tag }}" href="{{ site.url }}/tags/#{{ tag | slugify }}">
            <svg class="icon-svg">
                <use xlink:href="#icon-{{ tag }}" fill="{{ page.iframecolor }}"></use>
            </svg>
        </a>
        {% endfor %}
    </div>
    {% endif %}

    {{content}}

    {% include sources.html %}
    {% include credit.html %}

</div>