---
layout: page
---
<div>
<style>

html {
	color: {{ page.txtcolor }};
	animation: colorchange 1000ms ease 0s 1 forwards;
	-webkit-animation: colorchange 1000ms ease 0s 1 forwards;
}
iframe, .video {
	background: {{ page.iframecolor }};
}
h1, h2, h3, h4, .title, .text {
	color: {{ page.txtcolor }};
}
a, strong {
	color: {{ page.linkcolor }};
}

@keyframes colorchange
{
  0%   {background: $alpha;}
  100% {background: {{ page.bgcolor }};}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: $alpha;}
  100% {background: {{ page.bgcolor }};}
}
</style>
</div>

<div class="post animated-open-project">

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%m-%Y" }}">{{ page.date | date: "%B, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

{{content}}

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
</div>
